body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Form Container Styling */
.form-container {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-image: url('Assets/Images/home-img.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;

}

/* Overlay Styling */
.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Form Content Styling */
.form-content {
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Form Headings */
.form-container .form-content h1 {
    font-size: 2.5rem;
}

/* Label Styling */
label {
    font-weight: bold;
    color: #fff;
}

/* Styling for the Placeholder Text */
.form-container input::placeholder {
    color: #753d41; /* لون النص placeholder */
    opacity: 1; /* للتحكم في شفافية النص */
}

/* Submit Button Styling */
button[type="submit"] {
    background-color: #7e4c4f;
    border: none;
    transition: background-color 0.3s ease;
    width: 300px;
    display: block;
    margin: 20px auto 0 auto; /* توسيط الزر */
}

button[type="submit"]:hover {
    background-color: #f59b26;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .form-container {
        max-width: 90%;
        padding: 15px;
    }

    .form-container .form-content h1 {
        font-size: 2rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    button[type="submit"] {
        max-width: 100%;
        width: 100%;
    }
}
